body{
    background-color: #D8E3E7;
}

#leftbox {
    float:left; 
    border-radius: 0.5em;
    width:100%;
    position: absolute;
    margin-top: 17%;
    clip-path: polygon(30% 0, 30% 65%, 62% 65%, 62% 100%, 0 100%, 0% 0%);
    height: 50%;
    display: grid;
    font-size: large; 
    font-size: large;
    background-color: #A7BBC7;
    align-content: center;
    filter: url(#round);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: drop-shadow(1px 6px 3px rgba(50, 50, 0, 0.5));
}
#middlebox{
    float:left; 
    background-color: #F9F9F9;
    width:100%;
    height:280px;
    margin-top: 10%;
    filter: url(#round);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    clip-path: polygon(100% 0, 100% 100%, 66% 100%, 66% 83%, 32% 83%, 32% 0);
}

#boxes {
    background-color: #D8E3E7;
    filter: url(#round);
    height: 75%;
    position: absolute;
    left: 15%;
    right:15%;
    top: 15%;
    padding: 10px;
    }
#container{ 
        display: flex;
        justify-content: center;
        align-self: center;
      
}